<template name="post_submit">
  <div class="grid submit">
    <form class="grid-block form-horizontal">
      <div class="control-group">
        <label class="control-label">{{i18n "URL"}}</label>
        <div class="controls"><input id="url" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Title"}}</label>
        <div class="controls"><input id="title" type="text" value="" /><a href="#" class="get-title-link inline-link">{{i18n "Suggest title"}}</a></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Body"}}</label>
        <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge"></textarea></div>
      </div>
      {{#if categoriesEnabled}}
      <div class="control-group">
        <label class="control-label">{{i18n "Category"}}</label>
        <div class="controls">
          {{#each categories}}
          <label class="radio inline">
            <input id="category_{{_id}}" type="checkbox" value="{{_id}}" name="category" /> {{name}}
          </label>
          {{/each}}
        </div>
      </div>
      {{/if}}
      {{#if isAdmin}}
        <div class="control-group">
          <label class="control-label">{{i18n "Sticky?"}}</label>
          <div class="controls">
            <input type="checkbox" name="sticky" id="sticky" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "User"}}</label>
          <div class="controls">
            <select id="postUser">
              {{#each users}}
                <option {{isSelected this}} value="{{_id}}">{{userName}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "Status"}}</label>
          <div class="controls">
            <label class="radio inline">
              <input id="status_pending" type="radio" value="1" name="status"/> {{i18n "Pending"}}
            </label>
            <label class="radio inline">
              <input id="status_approved" type="radio" value="2" name="status" checked /> {{i18n "Approved"}}
            </label>
            <label class="radio inline">  
              <input id="status_rejected" type="radio" value="3" name="status"/> {{i18n "Rejected"}}
            </label>
          </div>
        </div>
        <div id="postedAt" class={{showPostedAt}}>
          <div class="control-group">
            <label class="control-label post-form-date">{{i18n "Posted Date"}}</label>
            <div class="controls"><input id="postedAtDate" type="text" value="{{postedAtDate}}" /></div>
          </div>
          <div class="control-group">
            <label class="control-label post-form-time">{{i18n "Posted Time"}}</label>
            <div class="controls"><input id="postedAtTime" type="text" value="{{postedAtTime}}" /></div>
          </div>
          <p class="help-block">Leave blank to post at current time.</p>
        </div>
      {{/if}}
      <div class="form-actions">
        <input type="submit" class="button" value="{{i18n "Submit"}}" />
      </div>
      <div> 
       Drag this link into your bookmarks bar to quickly post anything on CRE.BUZZ ->
        <a href="javascript:(function(){window.s618=document.createElement('script');window.s618.setAttribute('type','text/javascript');window.s618.setAttribute('src','https://bookmarkify.it/bookmarklets/3007/raw');document.getElementsByTagName('body')[0].appendChild(window.s618);})();" id="thelink">Share on CRE.BUZZ</a>
        <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div style="font-weight:bold; font-size: 24px;">Welcome to CRE BUZZ!</div>
        CRE BUZZ is a community site for anything that is related to the industry.  There are not a lot of rules, other than please be civil. Discussion is encouraged, but please make it productive (no name-calling)
        <br/>
        <br/>
        If you find a story interesting and especially if it presents a unique angle, please feel free to “upvote” it. Popular stories (or stories with the most upvotes) will automatically rise to the top of the site.
        <br/>
        <br/>
        We also encourage you to submit posts and to make thoughtful comments on posts you see here.
        <br/>
        <br/>
        <div style="font-weight:bold;">
        CRE BUZZ Guidelines
        <br/>
        <br/>
        What to Submit
        </div>
        Anything that people in the commercial real estate industry would find interesting. We’re especially looking for anything with a unique angle on an industry article or story. Videos and pictures are ok, but please keep it on topic (we’re not looking for cat memes; there’s another site for that)
        <br/>
        <br/>
        <div style="font-weight:bold;">In Submissions</div>
        Please don't use uppercase letters or exclamation points, or say how great an article is in the title. It's implied in submitting something that you think it's important.
        <br/>
        <br/>
        Please submit the original source. For example, if a blog post reports on something they found on another site, submit the site it was found on.
        <br/>
        <br/>
        <div style="font-weight:bold;">In Comments</div>
        Please add to the conversation and be civil. When disagreeing, please reply to the argument itself rather than calling names.
        <br/>
        <br/>
        </div>
      </div>
    </form>
    
</div>
</template>










